{% extends "::base.html.twig" %}



{% block body %}

    <a href="/author/create" class="btn btn-primary btn-xs">Dodaj</a>

    <table class="table">

        <thead>
            <tr>
                <th>Autor</th>
                <th>Operacje</th>
            </tr>
        </thead>
        <tr>
            {% for author in authors %}
            <tbody>
            <td>
                {{author.name}}
            </td>
            <td>
                <a href="/author/edit/{{author.id}}" class="btn btn-alert btn-xs">Edytuj</a>
                <a href="/author/delete/{{author.id}}" class="btn btn-alert btn-xs">Usuń</a>
            </td>
        </tr>


    {% endfor %}
</tbody>
{% endblock %}
