{% extends "::base.html.twig" %}



{% block body %}
    
    <a href="/author/create">Dodaj</a>
    
    {% for author in authors %}



        <h3> {{author.name}} </h3>
        <a href="/author/edit/{{author.id}}">Edytuj</a>
        <a href="/author/delete/{{author.id}}">Usuń</a>

    {% endfor %}

{% endblock %}
